Node-RED/QAFlow.json
[{"id":"7e125faa.fbec6","type":"ibmiot in","z":"366a543.2550dac","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"7688duo","applicationId":"","deviceType":"robot","eventType":"+","commandType":"","format":"json","name":"IBM 7688duo IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","x":248,"y":230,"wires":[["997a0c3e.56e07","33c0b4db.0ef0bc"]]},{"id":"997a0c3e.56e07","type":"debug","z":"366a543.2550dac","name":"","active":true,"console":"false","complete":"false","x":568,"y":247,"wires":[]},{"id":"33c0b4db.0ef0bc","type":"function","z":"366a543.2550dac","name":"","func":"var stt=msg.payload.results[0].alternatives[0].transcript\nif(stt.indexOf('你好') > -1 || stt.indexOf('您好') > -1 ){\n  //msg.payload='{\"d\":{\"ch_res\":\"你好，我是天衣無熊\"}}'\n  msg.payload='你好 我是天衣無熊'  \n}\n\nif(stt.indexOf('笑话') > -1 || stt.indexOf('冷 笑话') > -1 ){\n  //msg.payload='{\"d\":{\"ch_res\":\"你好，我是天衣無熊\"}}'\n  msg.payload='請問誰家沒有電話'  \n}\n\nif(stt.indexOf('不知道') > -1 || stt.indexOf('沒想法') > -1 ){\n  //msg.payload='{\"d\":{\"ch_res\":\"你好，我是天衣無熊\"}}'\n  msg.payload='哈哈哈哈，就是我呀，我是天衣無熊'  \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":433,"y":348,"wires":[["5828df32.5886a","997a0c3e.56e07"]]},{"id":"5828df32.5886a","type":"ibmiot out","z":"366a543.2550dac","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"7688duo","deviceType":"robot","eventCommandType":"stt_ch_res","format":"string","data":"msg.payload","name":"IBM IoT","service":"registered","x":633,"y":345,"wires":[]},{"id":"a27526a7.35b6c8","type":"comment","z":"366a543.2550dac","name":"7688 Duo Doll Q&A","info":"","x":265,"y":133,"wires":[]}]
